@import "~@fortawesome/fontawesome-svg-core/styles.css";
.bigslider{
  width: 100%;
  height: calc(100vh - 180px);
  //background-color: #454545;
  overflow: hidden;
  display: flex;

  .slide{
    min-width: 90%;
    min-height: 100%;
    background-size: cover;
    background-position: center center;
  }
  .comas{
    position: fixed;
    width: 100%;
    height: 60px;
    bottom: 0px;
    left: 0px;
    display: flex;
    align-items: center;
    justify-content: center;
    .coma{
      width: 31px;
      height: 31px;
      border: 5px solid #454545;
      border-radius: 20px;
      margin: 0 3px;
      display: flex;
      align-items: center;
      justify-content: center;
      .comapoint{
        width: 31px;
        height: 31px;
        border-radius: 20px;
        background-color: rgba(0,0,0,0.8);
        transition: 0.2s;
      }
    }
  }

  .btnnext{
    min-width: 10%;
    min-height: calc(100% - 180px);
    background-color: rgba(0,0,0,0.7);
    position: absolute;
    right: 0px;
    top: 180px;
    display: flex;
    justify-content: center;
    align-items: center;
    i{
      font-size: 50px;
      color: #FFFFFF;
    }
  }

}
